<h1>- あなたのトレーニングに関することをシェア・記録しよう! -</h1>

<div class="button-container">
  <%= link_to "トレーニングの記録", new_task_path, class: "link-button" %>
</div>

<br>

<div class="button-container">
  <%= form_tag('/tasks', method: 'get') do %>
    <%= label_tag(:title_key, '絞り込み:') %>
    <%= text_field_tag(:title_key) %>
    <%= submit_tag('検索') %> <%= link_to 'リセット', tasks_path %>
  <% end %>
</div>

<br>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <h2><%= task.title %></h2>
      <p><%= task.content %></p>
      <% if task.user.name %>
        <p><%= task.user.name %></p>
      <% else %>
        <p>User not available</p>
      <% end %>
      <span>
        <small><%= task.created_at %></small>
      </span>
      <div class="edit-delete-wrapper">
        <% if user_signed_in? && task.user_id == current_user.id %>
          <%= link_to "編集", edit_task_path(task), class: "link-button" %>
          <%= button_to "削除", task_path(task), method: :delete, 
          class: "link-delete-button" %>
        <% end %>
        <% if current_user.already_liked?(task) %>
          <%= button_to task_likes_path(task), method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
          <%= task.likes.count %>
        <% else %>
          <%= button_to task_likes_path(task), method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
          <%= task.likes.count %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

