<div class="container">
    <h1>ユーザー新規登録</h1>

<%= form_with model: @user_new, html: {class: "form-contaoner"} do |form| %>

    <div class="form-input">
     <%= form.label :name %> <%= form.text_field :name%>
    </div>

    <div class="form-input">
     <%= form.label :Email %> <%= form.email_field :email%>
    </div>

    <div class="form-input">
     <%= form.label :password %> <%= form.password_field :password%>
    </div>

    <div class="button-container">
     <%= form.submit "新規登録", class: "link-button" %>
    </div>
  </div>
<% end %>

