<!DOCTYPE html>
<html>
  <head>
    <title>- トレーニングをシェアしよう! -</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container-sub">
      <% if user_signed_in? %>
        <strong>  <%= current_user.name %> でログイン中 </strong>
        <br>
        <%= link_to "設定", edit_user_registration_path %> <strong> | </strong>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>

    <div class="log-msg">
      <p><%= notice %></p>
      <p><%= alert %></p>
    </div>
      <%= yield %>
  </body>
</html>
